.heroWrap {
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-2em);
}

.camArt {
  background: white;
  width: 50vw;
  height: 70vh;
  background: url('../assets/local/colorinstoIllust.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: elemEnter-scale .8s var(--anchorhead) forwards;
}

.titleArt {
  background: url('../assets/local/colorinstoLogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 200px;
  transform: translateX(-3rem);
  opacity: 0;
  animation: elemEnter-slideRight .8s var(--anchorhead) .15s forwards;
}

.titleStart {
  margin: 1rem;
  font-size: 2rem;
  font-family: jetbrains mono;
  cursor: pointer;
  //animation: elemEnter-slideDown .8s var(--anchorhead) .2s both;
  opacity: 1;
  padding: 1rem;
  border: solid 1px white;
  border-radius: 20px;
  transition: all .5s;
  &:hover {
    transform: translateY(-10px) !important;
  }
}

.startButtonAnim {
  animation: graidie 1s both;
  border: solid 1px rgba(255, 255, 255, 0);
}
@keyframes graidie {
  from {
      background: black;
      color: white;
  }
  50% {
      background: rgb(255,126,126);
      background: linear-gradient(145deg, rgba(255,126,126,1) 0%, rgba(255,216,126,1) 100%);
      color: black;
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(720deg);
  }
}