/*
*:not(.playgroundSc) {
    //outline: 1px solid rgba(255, 255, 255, 0.123);
    //background: rgba(0, 0, 0, 0.048);
    ////text-align: center;
    ////backdrop-filter:blur(1px);
    //color: #ff0000;
}
    */
#playgroundSc {
  position: relative;
  display: block;
  overflow: hidden;
}

.mainInteract {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-origin: bottom;
}
@media screen and (max-width: 1920px) {
  .mainInteract {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 1800px) {
  .mainInteract {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1600px) {
  .mainInteract {
    transform: scale(0.75);
  }
}
@media screen and (max-width: 1500px) {
  .mainInteract {
    transform: scale(0.68);
  }
}
@media screen and (max-width: 1280px) {
  .mainInteract {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 1120px) {
  .mainInteract {
    transform: scale(0.58);
  }
}

.rightSection {
  position: relative;
  width: 430px;
  z-index: 2;
  transform: translateX(-30px);
}

.filmWrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  transition: all 0.3s var(--sleek);
}

.film {
  position: relative;
  background: var(--baseD);
  width: 350px;
  height: 400px;
  outline: 3px solid white;
  margin-bottom: 500px;
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  border-radius: 3px;
}
.film .gradientContainer {
  width: 300px;
  height: 300px;
  outline: 3px solid white;
  overflow: hidden;
  border-radius: 2px;
}
.film .gradientContainer .colFX {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 11;
  /*
  &.cf1 {
      //background: radial-gradient(circle at top left, rgba(255,255,245,1) 0%, rgba(255, 255, 245, 0.418) 100%);
  }
  &.cf2 {

  }
  */
}

#gradients {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
}

.colorglob {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transform-origin: center;
  transition: filter 0.5s var(--accel);
  opacity: 0.7;
  filter: blur(6px);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.palette {
  position: relative;
  width: 40px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 2em;
  background: var(--baseD);
}
.palette:hover .paletteCells:not(:hover) {
  border: 5px solid var(--cellColor);
}

.paletteCells {
  --cellColor: white;
  --paletteCellSize: 30px;
  width: var(--paletteCellSize);
  height: var(--paletteCellSize);
  margin: 0.2em 0 0.2em 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s var(--sleek);
  box-sizing: border-box;
  border: 15.62px solid var(--cellColor);
}
.paletteCells:hover {
  border: none;
  transform: scale(1.5);
  background: var(--cellColor);
  width: 60px;
}

.pgCamSprite {
  position: absolute;
  max-height: 500px;
  min-width: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 2;
  transform: translateX(30px);
}

#camSvg {
  max-width: 800px;
  transform: translate(0px, 40%);
  position: absolute;
}

#LED {
  fill: #f1a100;
}

#camDoor,
#latchBorder {
  stroke-width: 0px;
}

#CamBod {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

#camDoor,
#latchBorder {
  fill: #fff;
}

.wheelContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translateY(30%);
  z-index: 0;
  --modeWheelTiming: var(--sleek);
  --modeWheelSpeed: .5s ;
}
.wheelContainer:hover .wheel {
  outline-color: var(--global-theme);
}

.wheel {
  --wheelSize: 950px;
  min-width: var(--wheelSize);
  min-height: var(--wheelSize);
  border-radius: 50%;
  outline: 3px solid white;
  display: flex;
  justify-content: flex-end;
  transition: transform var(--modeWheelSpeed) var(--modeWheelTiming), outline-color 0.5s var(--sleek);
}

.modes {
  position: absolute;
  width: 200px;
  height: 60px;
  left: calc(50% - 80px);
  top: calc(50% - 30px);
  font-family: var(--fontDisplay);
  font-size: 30px;
  display: flex;
  align-items: center;
  opacity: 0.4;
  transition: transform var(--modeWheelSpeed) var(--modeWheelTiming), 0.2s font-weight var(--sleek), 0.2s font-size var(--sleek), 0.2s color;
}
.modes:hover {
  font-size: 40px;
  font-weight: 600;
  opacity: 1;
  cursor: pointer;
}
.modes:hover .modeIcons {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 20;
}
.modes.MODEACTIVE {
  color: var(--global-theme);
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
}
.modes.MODEACTIVE .modeIcons {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 20;
}

.modeIcons {
  font-size: 60px;
  margin-right: 1rem;
  transition: 0.2s all var(--sleek);
}

@keyframes jiggleTest {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
}
.regenButton {
  position: absolute;
  margin-bottom: 22em;
  display: flex;
  align-items: center;
}

#regen {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 20;
  width: 120px;
  height: 60px;
  font-size: 48px;
  border: 3px solid white;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding: 0.2rem;
  box-sizing: border-box;
  background: var(--alphabaseD);
  transition: 0.3s background var(--sleek), 0.3s color var(--sleek), transform 0.2s var(--bounce), box-shadow 0.2s var(--bounce), 0.3s border var(--sleek);
}
#regen:hover {
  cursor: pointer;
  box-shadow: var(--regen-color) 0 10px 0;
  border: 3px solid var(--regen-color);
  color: var(--regen-color);
  transform: translateY(-10px);
  pointer-events: auto;
  opacity: 1;
}
#regen:active {
  transform: translateY(0px);
  box-shadow: var(--regen-color) 0 0 0;
  transition: all 0.1s var(--sleek);
}

.regenColInput {
  width: 60px;
  height: 60px;
  color: transparent;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 10px 0 0 10px;
  border: none;
  cursor: pointer;
}

.genDropdown {
  width: 300px;
  height: 60px;
  font-size: 1.5em;
  font-family: var(--fontSecondary);
  border-block: 3px solid var(--regen-color);
  color: var(--regen-color);
  padding: 0.2rem;
  box-sizing: border-box;
  background: var(--alphabaseD);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s background var(--sleek), 0.3s color var(--sleek), transform 0.2s var(--bounce), box-shadow 0.2s var(--bounce), 0.3s border var(--sleek);
}
.genDropdown:hover {
  cursor: pointer;
  pointer-events: auto;
  opacity: 1;
}
.genDropdown:active {
  box-shadow: var(--regen-color) 0 0 0;
  transition: all 0.1s var(--sleek);
}

.CHGOptions {
  position: absolute;
  background: var(--alphabaseD);
  border: 1px solid var(--regen-color);
  padding: 1rem;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.3s all var(--sleek);
  z-index: 5;
}
.CHGOptions .colorharmonyMode {
  border-radius: 20px;
  border: 2px solid transparent;
  margin: 1rem 0 1rem 0;
  font-size: 1em;
  display: flex;
  padding: 1rem;
  align-items: center;
  opacity: 0.5;
  transition: 0.2s opacity var(--sleek), 0.2s border var(--sleek), 0.1s transform var(--bounce);
}
.CHGOptions .colorharmonyMode:hover {
  opacity: 1;
  border: 2px solid white;
  color: white;
}
.CHGOptions .colorharmonyMode:active {
  transform: scale(0.9);
}
.CHGOptions.dropdownClosed {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5, 0.1);
}

.colorModeIcon {
  --CHMiconSize: 1em;
  padding: 1em;
  background: red;
  min-width: var(--CHMiconSize);
  min-height: var(--CHMiconSize);
  margin-right: 1em;
}

.CMI-random {
  background: url(../assets/local/random.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.CMI-analogous {
  background: url(../assets/local/analogous.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.CMI-triadic {
  background: url(../assets/local/triadic.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.CMI-tetradic {
  background: url(../assets/local/tetradic.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.CMI-complementary {
  background: url(../assets/local/complementary.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.deco {
  position: absolute;
  width: 30%;
  height: 60px;
}

#decoPath {
  fill: none;
  stroke: var(--global-theme);
  stroke-miterlimit: 10;
  stroke-width: 10px;
}

.leftSection {
  position: absolute;
  width: 25%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 4em;
  flex-direction: column;
}

.textInteract,
.textExplain {
  font-family: var(--fontDisplay);
}

.textInteract {
  font-size: 1.5em;
  line-height: 1.5em;
}

.textExplain {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 2em;
}/*# sourceMappingURL=scene2.css.map */