/*
*:not(.playgroundSc) {
    //outline: 1px solid rgba(255, 255, 255, 0.123);
    //background: rgba(0, 0, 0, 0.048);
    ////text-align: center;
    ////backdrop-filter:blur(1px);
    //color: #ff0000;
}
    */

#playgroundSc {
    position: relative;
    display: block;
    overflow: hidden;
}

.mainInteract {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-origin: bottom;

    @media screen and (max-width: 1920px) {
        transform: scale(0.9);
    }

    @media screen and (max-width: 1800px) {
        transform: scale(0.8);
    }

    @media screen and (max-width: 1600px) {
        transform: scale(0.75);
    }

    @media screen and (max-width: 1500px) {
        transform: scale(0.68);
    }

    @media screen and (max-width: 1280px) {
        transform: scale(0.6);
    }

    @media screen and (max-width: 1120px) {
        transform: scale(0.5);
    }

    @media screen and (max-width: 960px) {
        transform: scale(0.4);
    }
}

.rightSection {
    position: relative;
    z-index: 2;
    transform: translateX(-30px);
}

.filmWrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    transition: all .3s var(--sleek);

}

.film {
    position: relative;
    background: var(--baseD);
    width: 450px;
    height: 520px;
    outline: 3px solid white;
    margin-bottom: 460px;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    border-radius: 3px;

    .gradientContainer {
        width: 390px;
        height: 390px;
        outline: 3px solid white;
        overflow: hidden;
        border-radius: 2px;

        .colFX {
            position: absolute;
            width: 390px;
            height: 390px;
            z-index: 11;

            /*
            &.cf1 {
                //background: radial-gradient(circle at top left, rgba(255,255,245,1) 0%, rgba(255, 255, 245, 0.418) 100%);
            }
            &.cf2 {

            }
            */

            //backdrop-filter: blur(20px);
        }
    }
}

#gradients {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

.colorglob {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transform-origin: center;
    transition: filter 0.5s var(--accel);
    //mix-blend-mode: overlay;
    opacity: .7;
    filter: blur(6px);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}


.palette {
    position: relative;
    width: 40px;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2em;
    background: var(--baseD);

    &:hover .paletteCells:not(:hover) {
        border: 5px solid var(--cellColor);
        background: rgba(0, 0, 0, 0);
    }
}

.paletteCells {
    --cellColor: white;
    --paletteCellSize: 50px;
    width: var(--paletteCellSize);
    height: var(--paletteCellSize);
    margin: .2em 0 .2em 0;
    border-radius: 5px;
    background: var(--cellColor);
    cursor: pointer;
    transition: all .1s var(--sleek), font-variation-settings .5s var(--sleek), transform .3s var(--sleek);
    box-sizing: border-box;
    border: 10px solid var(--cellColor);
    animation-fill-mode: both;

    &.pulseCells {
        animation: cellPulseAlternate .5s infinite;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: #{if($i % 2 == 0, 0.25s, 0s)};
            }
        }

        @keyframes cellPulseAlternate {

            0%,
            100% {
                background: var(--cellColor);
                border: 10px solid var(--cellColor);
            }

            50% {
                border: 5px solid var(--cellColor);
                background: rgba(0, 0, 0, 0);
            }
        }

        @keyframes cellPulse {

            0%,
            100% {
                border: 5px solid var(--cellColor);
                background: rgba(0, 0, 0, 0);
            }

            20% {
                background: var(--cellColor);
                border: 5px solid var(--cellColor);
                transform: scale(.8);
            }
        }
    }

    &::after {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        font-size: 1em;
        color: white;
        font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 20, ;
    }

    &:hover {
        border: 5px solid var(--cellColor);
        transform: scale(1.5);
        background: var(--cellColor);
        width: 60px;
        transition: transform .3s var(--quickBounce);

        &::after {
            transform: translateX(-50px);
            opacity: 1;
            content: 'content_copy';
        }
    }

    &:active {
        transform: scale(1.3);
        transition: transform .2s var(--quickBounce);
    }
}

.pgCamSprite {
    position: absolute;
    width: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 2;
    transform: translateX(30px);
}

#camSvg {
    max-width: 800px;
    transform: translate(0px, 40%);
    position: absolute;
}

#LED {
    fill: #f1a100;
}

#camDoor,
#latchBorder {
    stroke-width: 0px;
}

#CamBod {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

#camDoor,
#latchBorder {
    fill: #fff;
}

.wheelContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform: translateY(30%);
    z-index: 0;

    &:hover {
        .wheel {
            outline-color: var(--global-theme);
        }
    }

    --modeWheelTiming: var(--sleek);
    --modeWheelSpeed: .5s
}


.wheel {
    //--wheelSize: 950px;
    min-width: var(--wheelSize);
    min-height: var(--wheelSize);
    border-radius: 50%;
    outline: 3px solid white;
    display: flex;
    justify-content: flex-end;
    transition: transform var(--modeWheelSpeed) var(--modeWheelTiming), outline-color .5s var(--sleek);
    //animation: jiggleTest .2s infinite ease-in-out;
}

.modes {
    position: absolute;
    width: 200px;
    height: 60px;
    left: calc(50% - 80px);
    top: calc(50% - 30px);
    font-family: var(--fontDisplay);
    font-size: 30px;
    display: flex;
    align-items: center;
    opacity: .4;
    //transform-origin: left;
    transition: transform var(--modeWheelSpeed) var(--modeWheelTiming), .2s font-weight var(--sleek), .2s font-size var(--sleek), .2s color;

    &:hover {
        font-size: 40px;
        font-weight: 600;
        opacity: 1;
        cursor: pointer;

        .modeIcons {
            font-variation-settings:
                'FILL' 1,
                'wght' 600,
                'GRAD' 0,
                'opsz' 20, ;
        }
    }

    &.MODEACTIVE {
        .modeIcons {
            font-variation-settings:
                'FILL' 1,
                'wght' 600,
                'GRAD' 0,
                'opsz' 20, ;
        }

        color: var(--global-theme);
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
        opacity: 1;
    }
}

.modeIcons {
    font-size: 60px;
    margin-right: 1rem;
    transition: .2s all var(--sleek);
}


@keyframes jiggleTest {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }
}

.regenButton {
    position: absolute;
    margin-bottom: 22em;
    display: flex;
    align-items: center;

}

#regen {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 20, ;

    width: 120px;
    height: 60px;
    font-size: 48px;
    border: 3px solid white;
    border-radius: 0 10px 10px 0;
    text-align: center;
    padding: .2rem;
    box-sizing: border-box;
    background: var(--alphabaseD);

    transition: .3s background var(--sleek), .3s color var(--sleek), transform .2s var(--bounce), box-shadow .2s var(--bounce), .3s border var(--sleek);

    &:hover {
        cursor: pointer;
        box-shadow: var(--regen-color) 0 10px 0;
        border: 3px solid var(--regen-color);
        //color: var(--regen-color);
        transform: translateY(-10px);
        pointer-events: auto;
        opacity: 1;
    }

    &:active {
        transform: translateY(0px);
        box-shadow: var(--regen-color) 0 0 0;
        transition: all 0.1s var(--sleek);
    }
}


.regenColInput {
    //position: absolute;
    width: 63px;
    height: 60px;
    color: transparent;
    text-shadow: none;
    user-select: none;
    //order: none;
    border-radius: 10px 0 0 10px;
    border: none;
    cursor: pointer;
    transition: transform .2s var(--bounce);

    &:hover {
        transform: translateY(-10px);
    }

    &:active {
        transform: translateY(0px);
    }

    &.sequencePageOverride {
        width: 150px;
        height: 30px;
        border-radius: 10px;
        margin-bottom: 1em;
        box-sizing: border-box;
        transition: all .5s;

        &.pulseColInput {
            animation: pulseColInput 1s infinite;
        }

        &:hover {
            transform: translateY(0px);
        }

        &:active {
            transform: translateY(0px);
        }

        @keyframes pulseColInput {

            0%,
            20% {
                border: 2px solid var(--white);
                color: white;
            }

            10%,
            30% {
                background: white;
                border: 10px solid var(--red1);
            }

            40%,
            50%,
            60%,
            70%,
            80%,
            90%,
            100% {
                border: 2px solid var(--white);
                color: white;
            }
        }
    }
}

.regenColInputDeco {
    position: absolute;
    width: 63px;
    height: 60px;
    border-radius: 10px 0 0 10px;
    border: solid var(--regen-color);
    border-width: 0px 0px 3px 1px;
    background: var(--baseD);
    z-index: -1;
}

.genDropdown {
    width: 300px;
    height: 60px;
    font-size: 1.5em;
    font-family: var(--fontSecondary);
    border: solid var(--regen-color);
    border-width: 3px 3px 3px 1px;
    color: white;
    padding: .2rem;
    box-sizing: border-box;
    background: var(--alphabaseD);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .3s background var(--sleek), .3s color var(--sleek), transform .2s var(--bounce), box-shadow .2s var(--bounce), .3s border var(--sleek);

    &:hover {
        cursor: pointer;
        border: solid var(--regen-color);
        border-width: 3px 3px 3px 1px;
        box-shadow: var(--regen-color) 0 10px 0;
        transform: translateY(-10px);
        pointer-events: auto;
        opacity: 1;
        z-index: 2;
    }

    &:active {
        transform: translateY(0px);
        box-shadow: var(--regen-color) 0 0 0;
        transition: all 0.1s var(--sleek);
    }
}

.CHGOptions {
    position: absolute;
    background: var(--alphabaseD);
    border: 1px solid var(--regen-color);
    padding: 1rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: .3s all var(--sleek);
    z-index: 5;

    .colorharmonyMode {
        border-radius: 20px;
        border: 2px solid transparent;
        margin: 1rem 0 1rem 0;
        font-size: 1em;
        display: flex;
        padding: 1rem;
        align-items: center;
        opacity: .5;
        transition: .2s opacity var(--sleek), .2s border var(--sleek), .1s transform var(--bounce);

        &:hover {
            opacity: 1;
            border: 2px solid white;
            color: white;

        }

        &:active {
            transform: scale(.9);
        }
    }

    &.dropdownClosed {
        opacity: 0;
        pointer-events: none;
        transform: scale(.5, .1);
    }
}

.colorModeIcon {
    --CHMiconSize: 1em;
    padding: 1em;
    background: red;
    min-width: var(--CHMiconSize);
    min-height: var(--CHMiconSize);
    margin-right: 1em;
}

.CMI-random {
    background: url(../assets/local/random.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.CMI-analogous {
    background: url(../assets/local/analogous.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.CMI-triadic {
    background: url(../assets/local/triadic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.CMI-tetradic {
    background: url(../assets/local/tetradic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.CMI-complementary {
    background: url(../assets/local/complementary.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.deco {
    position: absolute;
    width: 30%;
    height: 60px;
    //background: red;
}

#decoPath {
    fill: none;
    stroke: var(--global-theme);
    stroke-miterlimit: 10;
    stroke-width: 10px;
}

.arrowFX {
    position: absolute;
    font-size: 5em;
    right: 0;
    transform: translateX(90px);
    color: var(--global-theme);
}

.leftSection {
    position: absolute;
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 4em;
    flex-direction: column;
}

.textInteract,
.textExplain {
    font-family: var(--fontDisplay);
}

.textInteract {
    font-size: 1.5em;
    line-height: 1.5em;
}

.textExplain {
    margin-top: 1.5em;
    font-size: 1em;
    line-height: 2em;
}



#extraButtons {
    --barHeight: 32px;
    top: calc(100vh - var(--barHeight));
    height: var(--barHeight);
    width: 100%;
    position: fixed;
    user-select: none;
    opacity: 0;
    transition: all 0.2s var(--sleek);
    z-index: 1;
    pointer-events: none;
    display: none;
    align-items: flex-end;
    transition: opacity 0.2s var(--sleek);
}
.floatwindows {
    text-align: center;
    display: flex;
    margin-left: 1em;
    padding: .1em .8em;
    font-family: var(--fontSecondary);
    font-size: 1em;
    pointer-events: auto;

    --borderwidth: 2.6px;
    border-top: solid var(--borderwidth) var(--textD);
    border-left: solid var(--borderwidth) var(--textD);
    border-right: solid var(--borderwidth) var(--textD);
    border-radius: 10px 10px 0 0;

    color: var(--textD);
    transition: all 0.2s cubic-bezier(0.57, 0.07, 0.41, 1.95);
    backdrop-filter: blur(10px) var(--brightnessD);
    cursor: pointer;

    &:hover {
        padding: .8em;
    }

    &:active {
        padding: 0em .8em;
    }
}

@media screen and (max-width: 1400px) {
    .textInteract {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    .textExplain {
        font-size: 1em;
        line-height: 1.5em;
    }

    .leftSection {
        padding-left: 2em;
    }

}

@media screen and (max-width: 1280px) {
    #extraButtons {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .textInteract {
        font-size: 1em;
        line-height: 1em;
    }

    .textExplain {
        font-size: .8em;
        line-height: 1.2em;
    }

    .leftSection {
        padding-left: 1em;
    }
}