*:not(.playgroundSc) {
  outline: 1px solid rgba(255, 255, 255, 0.123);
}

#playgroundSc {
  position: relative;
  display: block;
  overflow: hidden;
}

.mainInteract {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.deco {
  position: absolute;
  width: 20%;
  height: 60px;
}

.leftSection {
  width: 20%;
}

.rightSection {
  width: 40%;
}

.filmWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.film {
  background: var(--baseD);
  width: 350px;
  height: 400px;
  outline: 3px solid white;
  margin-bottom: 500px;
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  border-radius: 3px;
}
.film .gradientContainer {
  width: 300px;
  height: 300px;
  outline: 3px solid white;
  overflow: hidden;
  border-radius: 2px;
}
.film .gradientContainer .colFX {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1;
}

#gradients {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
}

.colorglob {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transform-origin: center;
  transition: filter 0.5s var(--accel);
  opacity: 0.7;
  filter: blur(6px);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.palette {
  width: 40px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 2em;
  background: var(--baseD);
}
.palette:hover .paletteCells:not(:hover) {
  border: 5px solid var(--cellColor);
}

.paletteCells {
  --cellColor: red;
  --paletteCellSize: 30px;
  width: var(--paletteCellSize);
  height: var(--paletteCellSize);
  margin: 0.2em 0 0.2em 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s var(--sleek);
  box-sizing: border-box;
  border: 15.62px solid var(--cellColor);
}
.paletteCells:hover {
  transform: scale(1.5);
}

.something {
  width: 130px;
  height: 60px;
}

.pgCamSprite {
  position: absolute;
  z-index: -1;
  min-width: 600px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

#camSvg {
  max-width: 800px;
  transform: translate(0px, 40%);
}

#LED {
  fill: #f1a100;
}

#camDoor,
#latchBorder {
  stroke-width: 0px;
}

#CamBod {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

#camDoor,
#latchBorder {
  fill: #fff;
}

.wheelContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: translateY(30%);
}

.wheel {
  --wheelSize: 950px;
  min-width: var(--wheelSize);
  min-height: var(--wheelSize);
  border-radius: 50%;
  outline: 3px solid white;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.5s var(--sleek);
}

.modes {
  position: absolute;
  width: 200px;
  height: 60px;
  left: calc(50% - 100px);
  top: calc(50% - 30px);
  font-family: "InterTight";
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s var(--sleek), background 0.3s;
}

.modeIcons {
  font-size: 60px;
  margin-right: 1rem;
}

@keyframes jiggleTest {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
}/*# sourceMappingURL=scene2.css.map */