*:not(.playgroundSc) {
    outline: 1px solid rgba(255, 255, 255, 0.123);
    //background: rgba(0, 0, 0, 0.048);
    ////text-align: center;
    ////backdrop-filter:blur(1px);
    //color: #ff0000;
}

#playgroundSc {
    position: relative;
    display: block;
    overflow: hidden;
}

.mainInteract {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-origin: bottom;

    @media screen and (max-width: 1920px) {
        transform: scale(0.9);
    }

    @media screen and (max-width: 1800px) {
        transform: scale(0.8);
    }

    @media screen and (max-width: 1600px) {
        transform: scale(0.75);
    }

    @media screen and (max-width: 1500px) {
        transform: scale(0.68);
    }

    @media screen and (max-width: 1280px) {
        transform: scale(0.6);
    }

    @media screen and (max-width: 1120px) {
        transform: scale(0.58);
    }
}

.deco {
    position: absolute;
    width: 20%;
    height: 60px;
}


.leftSection {
    position: absolute;
    width: 20%;
}

.rightSection {
    position: relative;
    width: 430px;
    z-index: 2;
    transform: translateX(-30px);
}

.filmWrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    transition: all .3s var(--sleek);

}

.film {
    position: relative;
    background: var(--baseD);
    width: 350px;
    height: 400px;
    outline: 3px solid white;
    margin-bottom: 500px;
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
    border-radius: 3px;

    .gradientContainer {
        width: 300px;
        height: 300px;
        outline: 3px solid white;
        overflow: hidden;
        border-radius: 2px;

        .colFX {
            position: absolute;
            width: 300px;
            height: 300px;
            z-index: 1;
            //backdrop-filter: blur(20px);
        }
    }
}

#gradients {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

.colorglob {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transform-origin: center;
    transition: filter 0.5s var(--accel);
    //mix-blend-mode:exclusion;
    opacity: .7;
    filter: blur(6px);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}


.palette {
    position: relative;
    width: 40px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2em;
    background: var(--baseD);

    &:hover .paletteCells:not(:hover) {
        border: 5px solid var(--cellColor);
    }
}

.paletteCells {
    --cellColor: white;
    --paletteCellSize: 30px;
    width: var(--paletteCellSize);
    height: var(--paletteCellSize);
    margin: .2em 0 .2em 0;
    border-radius: 5px;
    //background: var(--cellColor);
    cursor: pointer;
    transition: all .1s var(--sleek);
    box-sizing: border-box;
    border: 15.62px solid var(--cellColor);

    &:hover {
        border: none;
        transform: scale(1.5);
        background: var(--cellColor);
        width: 60px;
    }
}

.something {
    position: absolute;
    width: 130px;
    height: 60px;
}

.pgCamSprite {
    position: absolute;
    max-height: 500px;
    min-width: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 2;
    transform: translateX(30px);
}

#camSvg {
    max-width: 800px;
    transform: translate(0px, 40%);
    position: absolute;
}

#LED {
    fill: #f1a100;
}

#camDoor,
#latchBorder {
    stroke-width: 0px;
}

#CamBod {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

#camDoor,
#latchBorder {
    fill: #fff;
}

.wheelContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform: translateY(30%);
    z-index: 0;

    &:hover {
        .wheel {
            outline-color: var(--global-theme);
        }
    }
    
    --modeWheelTiming: var(--sleek);
    --modeWheelSpeed: .5s
}


.wheel {
    --wheelSize: 950px;
    min-width: var(--wheelSize);
    min-height: var(--wheelSize);
    border-radius: 50%;
    outline: 3px solid white;
    display: flex;
    justify-content: flex-end;
    transition: transform var(--modeWheelSpeed) var(--modeWheelTiming), outline-color .5s var(--sleek);
    //animation: jiggleTest .2s infinite ease-in-out;
}

.modes {
    position: absolute;
    width: 200px;
    height: 60px;
    left: calc(50% - 80px);
    top: calc(50% - 30px);
    font-family: 'InterTight';
    font-size: 30px;
    display: flex;
    align-items: center;
    opacity: .4;
    //transform-origin: left;
    transition: transform var(--modeWheelSpeed) var(--modeWheelTiming), .2s font-weight var(--sleek), .2s font-size var(--sleek), .2s color;

    &:hover {
        font-size: 40px;
        font-weight: 600;
        opacity: 1;
        cursor: pointer;

        .modeIcons {
            font-variation-settings:
                'FILL'1,
                'wght'600,
                'GRAD'0,
                'opsz'20, ;
        }
    }

    &.MODEACTIVE {
        .modeIcons {
            font-variation-settings:
                'FILL'1,
                'wght'600,
                'GRAD'0,
                'opsz'20, ;
        }

        color: var(--global-theme);
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
        opacity: 1;
    }
}

.modeIcons {
    font-size: 60px;
    margin-right: 1rem;
    transition: .2s all var(--sleek);
}


@keyframes jiggleTest {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }
}

.regenButton {
    position: absolute;
    margin-bottom: 22em;
    display: flex;
    align-items: center;

}

#regen {
    font-variation-settings:
        'FILL'0,
        'wght'600,
        'GRAD'0,
        'opsz'20, ;

    width: 120px;
    height: 60px;
    font-size: 48px;
    border: 3px solid white;
    border-radius: 0 10px 10px 0;
    text-align: center;
    padding: .2rem;
    box-sizing: border-box;
    background: var(--alphabaseD);

    transition: .3s background var(--sleek), .3s color var(--sleek), transform .2s var(--bounce), box-shadow .2s var(--bounce), .3s border var(--sleek);

    &:hover {
        cursor: pointer;
        box-shadow: var(--regen-color) 0 10px 0;
        border: 3px solid var(--regen-color);
        color: var(--regen-color);
        transform: translateY(-10px);
        pointer-events: auto;
        opacity: 1;
    }

    &:active {
        transform: translateY(0px);
        box-shadow: var(--regen-color) 0 0 0;
        transition: all 0.1s var(--sleek);
    }
}

.regenColInput {
    //position: absolute;
    width: 60px;
    height: 60px;
    color: transparent;
    text-shadow: none;
    user-select: none;
    //order: none;
    border-radius: 10px 0 0 10px;
    border: none;
    cursor: pointer;
}