#camModSc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100vh;
}

.cameraSprite {
  position: absolute;
  width: 512px;
  height: 460px;
}

#camSequence {
  fill: white;
  stroke-width: 0;
}

#camDeco {
  stroke: white;
}

.cameraDoor {
  position: absolute;
  margin-right: 50px;
  margin-top: 70px;
  z-index: 2;
  width: 325px;
  height: 358px;
  cursor: pointer;
  transform-origin: bottom;
  transition: 0.5s margin-top;
}

#door {
  fill: white;
  stroke-width: 0;
}

#doorFill {
  fill: var(--baseD);
}

.cameraDoorOpened {
  cursor: auto;
  animation: openDoor 1s forwards;
  margin-top: 50px !important;
}

.cameradoorClosed {
  cursor: auto;
  animation: closeDoor 0.5s forwards;
}

@keyframes openDoor {
  0% {
    transform: rotateX(0deg);
    margin-top: 70px !important;
  }
  36% {
    transform: rotateX(100deg);
  }
  54% {
    transform: rotateX(95.02deg);
  }
  74% {
    transform: rotateX(100deg);
  }
  82% {
    transform: rotateX(98.75deg);
  }
  92% {
    transform: rotateX(100deg);
  }
  96% {
    transform: rotateX(99.36deg);
  }
  100% {
    transform: rotateX(100deg);
  }
}
@keyframes closeDoor {
  from {
    transform: rotateX(100deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.cameraDoorLatch {
  height: 10px;
  width: 60px;
  transform: translateY(0px);
  transition: 0.3s transform var(--bounce);
}

.cameraDoorLatchPoked {
  transform: translateY(10px);
}

.cameraDoorLatchBound {
  position: absolute;
  height: 20px;
  width: 60px;
}

.cartridgeWrap {
  margin-right: 45px;
  margin-top: 70px;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  transition: 0.5s all var(--anchorhead);
  z-index: 1;
}

.cartridge {
  width: 320px;
  height: 358px;
  fill: white;
}

#cartridgeFill {
  fill: var(--baseD);
}

.ink {
  z-index: -1;
  position: absolute;
  height: 110px;
  width: 320px;
  transition: 0.5s transform var(--anchorhead);
  transform: translateY(100px);
  font-family: var(--fontSecondary);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 1em;
  border-radius: 20px 20px 0 0;
  border: 2px solid var(--regen-color);
  border-bottom: 20px solid var(--regen-color);
}

.submitModeOverride {
  position: absolute;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 20;
  font-size: 48px;
  border: 3px solid white;
  text-align: center;
  padding: 0.2rem;
  box-sizing: border-box;
  background: var(--alphabaseD);
  border-radius: 10px;
  width: 60px;
  height: 60px;
  transition: all 0.5s var(--sleek);
  transform: translateY(100px);
  z-index: -1;
  opacity: 0;
}
.submitModeOverride:hover, .submitModeOverride.submitPulse {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
  width: 320px;
  cursor: pointer;
  border: 3px solid white;
  background: white;
  color: var(--baseD);
  pointer-events: auto;
  opacity: 1;
  border-radius: 0px;
  transform: translateY(-10px);
}
.submitModeOverride:hover.submitPulse, .submitModeOverride.submitPulse.submitPulse {
  pointer-events: none;
}

.modding {
  transform: translateX(400px);
  margin-right: -200px;
  margin-top: 70px;
}
.modding .ink {
  transform: translateY(-120px);
}
.modding .ink.submit {
  transform: translateY(100px);
}
.modding .submitModeOverride.colorPicked {
  opacity: 1;
  transform: translateY(0px);
  z-index: 1;
  animation: pulseSubmit 1s both infinite;
}
@keyframes pulseSubmit {
  0%, 20% {
    background: var(--baseD);
    color: white;
  }
  10%, 30% {
    background: white;
    color: var(--baseD);
  }
  40%, 50%, 60%, 70%, 80%, 90%, 100% {
    background: var(--baseD);
    color: white;
  }
}
.modding .submitModeOverride.colorPicked:hover {
  transform: translateY(-10px);
  animation: none;
  background: white !important;
  color: var(--baseD) !important;
}
.modding .submitModeOverride.colorPicked.submit {
  transform: translateY(100px);
  width: 320px;
  background: white;
  color: var(--baseD);
  opacity: 0;
}/*# sourceMappingURL=scene1.css.map */